<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>

</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero orci, porttitor sed interdum porta, egestas eu sapien. Mauris tristique tincidunt auctor. Aliquam sodales iaculis pretium. Donec in pretium urna. Donec volutpat vitae risus quis pulvinar. Sed dignissim libero vitae nibh rhoncus suscipit nec vitae magna. Praesent id leo id justo pharetra egestas. In molestie nibh eros, quis ultrices libero tincidunt ac.
  </p>
</article>